.loader {
    text-align: unset;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.loader svg {
    z-index: 15;
}

#g5395 {
    transform-origin: 54px 99px;
    animation: spin 5s linear infinite;
}

#g5403 {
    transform-origin: 54px 99px;
    animation: spin 3s linear infinite;
}

#g5399 {
    transform-origin: 54px 99px;
    animation: spin 2s linear infinite;
}

#ellipse4765 {
    transform-origin: 54px 99px;
    animation: spin 10s linear infinite;
}

.loader p {
    text-align: center;
}

.wrapper {
    display: none;
    animation-name: animatebottom;
    animation-duration: 3s;
}

@keyframes animatebottom {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}